In [3]:
# IMPORTS FROM OTHER NOTEBOOKS
import ipynb.fs
from .defs.AmazonReviewData import test

In [4]:
test()

YES!!

In [1]:
import pandas as pd

# Specify Amazon categories for analysis
category = [
    'Amazon Instant Video',
    'Toys and Games',
    'Books'
]

base_url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/'
url = list(map(lambda c: '{}ratings_{}.csv'.format(base_url,c.replace(' ','_')),category))
print(url)

col_names = ['user','item','rating','timestamp']
df = pd.read_csv(url[0],header=0,names=col_names)
df.head()

['http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/ratings_Amazon_Instant_Video.csv', 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/ratings_Toys_and_Games.csv', 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/ratings_Books.csv']

             user        item  rating   timestamp
0   AGZ8SM1BGK3CK  B000GFDAUG     5.0  1198195200
1  A2VHZ21245KBT7  B000GIOPK2     4.0  1215388800
2   ACX8YW2D5EGP6  B000GIOPK2     4.0  1185840000
3   A9RNMO9MUSMTJ  B000GIOPK2     2.0  1281052800
4  A3STFVPM8NHJ7B  B000GIOPK2     5.0  1203897600